<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/8d1318581d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@200;300;400;500&display=swap" rel="stylesheet">
  </head>
  <body class="home">
    <div class="flexContainer">
      <div class="card-home">
        <h2 class="header">JMB - CLIMA</h2>
        <br />
        <div class="info">
          <h1>Ciudad:</h1>

          <form action="/" method="post">
            <input
              type="text"
              name="cityName"
              class="input"
              placeholder="Ingresa una Ciudad"
            />
            <br />
            <br />
            <input type="submit" class="submit" value="Buscar" />
          </form>
        </div>
      </div>
      <div class="card2">
        <h2 class="h2Home">Sobre este proyecto</h2>
        <p>
          Al typear el nombre de una ciudad la web devolvera datos sobre el
          clima de esta misma Esta aplicacion demuestra conocimientos en: <span class="conocimientos">HTML,
            CSS, EJS, Implementcaion de API, JavaScript, NodeJs, Express, Dise침o
            Web.</span>
        </p>
        <a href="" class="verMas"
          >M치s sobre este proyecto y sus tecnologias...</a
        >
      </div>
    </div>
<!-- Mobile -->
    <div class="flexContainer-mobile">
      <div class="card-home-mobile">
        <h2 class="header">JMB - CLIMA</h2>
        <br />
        <div class="info">
          
        
          
          <form action="/" method="post">
            <h1>Ingresa una Ciudad:</h1>
            <input
              type="text"
              name="cityName"
              class="input"
              placeholder="Ingresa una Ciudad"
            />
            <br />
            <br />
            <input type="submit" class="submit" value="Buscar" />
          </form>
        </div>
        <div class="card2-mobile">
          <h2 class="h2Home">Sobre este proyecto</h2>
          <p>
            Al typear el nombre de una ciudad la web devolvera datos sobre el
            clima de esta misma Esta aplicacion demuestra conocimientos en: <span class="conocimientos">HTML,
              CSS, EJS, Implementcaion de API, JavaScript, NodeJs, Express, Dise침o
              Web.</span>
          </p>
          <a href="" class="verMas"
            >M치s sobre este proyecto y sus tecnologias...</a
          >
        </div>
      </div>
      
    </div>
  </body>
</html>
